<%- include ('./partials/header.ejs')%>
<%- include ('./partials/homenavbar.ejs')%>
<body>
    <div class="container">
        <% articles.forEach((article) => { %>
            <tr>
                <td><%= article.id %></td>
                <td><%= article.title %></td>
                <td><%= article.slug %></td>
                <td><%= article.category.title %></td>
                <td>
                    <form
                            method="POST"
                            action="/articles/delete"
                            style="display: inline;"
                            onsubmit="confirmarDelecao(event, this)"
                    >
                        <input type="hidden" name="id" value="<%= article.id %>">
                        <button class="btn btn-danger">Deletar</button>
                    </form>

                </td>
            </tr>
        <% }) %>
    </div>
</body>

<%- include ('./partials/footer.ejs')%>
